main {
    margin: 0%;
}

body {
    position: relative;
    width: 1240px;
    height: 560px;
    border-width: 5px;
  

}

header {
    position: relative;
    width: 1240px;
    height: 80px;
    top: -5%;
    background: #333333;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    font-size: 200%;
    

   
}

main {
    position: relative;
    display: grid;
    grid-template-columns: 35% 65%;
    width: 1089px;
    height: 580px;

}

.derecha {
    position: relative;
    width: 371px;
    height: 420px;
    top: -5%;

}

.izquierda {
    position: relative;
    width: 697px;
    height: 570px;
    border-width: 5px;
    top: -5%;;
}

.superior {
    position: relative;
    width: 688px;
    height: 47px;
    border-width: 5px;
    text-align: center;
    color: black;
    left: 10%;
}

.inferior {
    position: relative;
    width: 870px;
    height: 420px;
    border-width: 5px;
    border-style: solid;
    border: 0px;
    left: -2.55%;
}

span {
    font-size: 250%;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.Home,
.What,
.Zpotify {
    position: relative;
    background: #C3F1FF;
    border: 2px solid #77DFFF;
    width: 100%;
    text-align: center;
    font-size: 200%;
    color: #000000;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top: 4.5%;
}

.Vacio {
    position: relative;
    height: 71%;
    background: #C3F1FF;
}

.Home:hover {
    background-color: #77DFFF;
}

.What:hover {
    background-color: #77DFFF;
}

.Zpotify:hover {
    background-color: #77DFFF;
}