<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Layout</title>
    <link rel="stylesheet" href="./Estilo5.css">
</head>

<body>
        <header>
           <p>BARRA DE HERRAMIENTAS</p>
        </header>
        <main>
            <section class="derecha">
                <article class="Home"><i class="fas fa-home"></i> Home</article>
                <article class="What"><i class="fab fa-whatsapp"></i> WhatzApp</article>
                <article class="Zpotify"><i class="fab fa-spotify"></i> Zpotify</article>
                <article class="Vacio"></article>
            </section>
            <section class="izquierda">
                
                <div class="superior">   <P>SUB BARRA DE HERRAMIENTAS</P></div>
                    <div class="inferior"></div>
                </section>
        </main>
        <script src="https://kit.fontawesome.com/a2b18a7c7e.js" crossorigin="anonymous"></script>
</body>

</html>
