<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Layout</title>
    <link rel="stylesheet" href="./Estilo5.css">
</head>

<body>
    <header>
        <p>BARRA DE HERRAMIENTAS</p>
    </header>
    <main>
        <section class="derecha">
           <button class="Home" id="Home" >  <i class="fas fa-home"></i>Home</button>
            <button class="What" id="What"><i class="fab fa-whatsapp"></i> WhatzApp</button>
            <button class="Zpotify" id="Zpotify"><i class="fab fa-spotify"></i> Zpotify</button>
            <article class="Vacio"></article>
        </section>
        <section class="izquierda">

            <div class="superior">
                <P>SUB BARRA DE HERRAMIENTAS</P>
            </div>
            <iframe class="inferior"  id="contenido-dinamico"  src="" frameborder="0"></iframe> 
        </section>
    </main>
    <script src="https://kit.fontawesome.com/a2b18a7c7e.js" crossorigin="anonymous"></script>
    <script src="./layout.js"></script>
</body>

</html>