body {
    margin: 0;
    padding-left: 0.5%;
    padding-top: 2.5%;
}

main {
    display: grid;
    grid-template-columns: 30% 70%;
    width: 860px;
    height: 400px;
    padding-left: 1%;
    padding-top: 2%;

} 

header {
    position: relative;
    height: 50px;
    text-align: center;
    font-size: 200%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top: 10px;
}

.contacto {
    position: relative;
    background: #DBDBDB;
    border-style: solid;
    border:1px#8C8C8C  ;
    text-align: center;
    font-size: 167%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

.primer,
.segun,
.tercer,
.cuarto,
.quinto,
.sexto {
    position: relative;
    width: 100%;
    height: 12.5%;
    background: #FFFFFF;
    border: 1px solid #DBDBDB;
    text-align: center;
    font-size: 100%;
    font-size: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.vacio {
    position: relative;
    width: 95%;
    height: 250px;
    background: #F2F2F2;
}

img {
    position: relative;
    top: 10%;
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

input {
    position: relative;
    width: 92%;
    height: 40px;
    top: 81%;
    left: 30px;
    box-sizing: border-box;
    padding-left: 5%;
    background: #FFFFFF;
    border: 1px solid white;
    border-radius: 25px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 140%;
}

.encabezado{
    position: relative;
    background:#DBDBDB;
    width: 95%;
    height: 18%;
}
span{
    font-size: 160%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 25%;
    

}


.primer:hover {
    background-color: #F2F2F2;
}
.segun:hover {
    background-color: #F2F2F2;
}
.tercer:hover {
    background-color: #F2F2F2;
}
.cuarto:hover {
    background-color: #F2F2F2;
}
.quint:hover {
    background-color: #F2F2F2;
}