main {
    margin: 0%;
}

.caja-principal {
    position: absolute;
    width: 750px;
    height: 1300px;
    left: 900px;
    top: 83px;
    border-style: solid;
    border-color: #C3F1FF;
    ;
    background: #F2FCFF;
    border: 1px box-sizing: border-box;
    border-radius: 30px;
}

.artistas {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-row-gap: 45px;
}

.artista-1,
.artista-2,
.artista-3,
.artista-4,
.artista-5,
.artista-6,
.artista-7,
.artista-8,
.artista-9,
.artista-10,
.artista-11,
.artista-12,
.artista-13,
.artista-14,
.artista-15 {
    position: relative;
    width: 180px;
    height: 180px;
    left: 15%;
    top: 15%;
    border-style: solid;
    solid #29CEFF;
    border-width: 0.5px;
    border-radius: 30px;
    background: #5AD2AE;
    text-align: center;
}

.titulo {
    position: relative;
    left: 20%;
    top: 25px;
}

p {
    position: relative;
    left: 2%;
    top: 120px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

img {
    position: relative;
    left: 0%;
    top: -30px;
    width: 110px;
    height: 110px;
    border-radius: 150px;
}

h1 {
    font-size: 3em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
